{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Playlist Detail</title>
{% endblock meta %}

{% block content %}
{% include "navbar/pengguna/navbar_pengguna_biasa.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 h-screen pt-20 pb-20 h-screen flex justify-center">
    <div class="flex justify-center items-center h-full">
        <div class="text-center w-full">
            <h1 class="text-3xl text-white mt-6 mb-3">Playlist Detail</h1>
            <div class="bg-gray/20 rounded-3xl shadow-inner p-10" style="max-width: 100%; margin: auto;">
                <div class="flex justify-between items-start mb-6">
                    <div class="text-lg text-white">
                        <div style="text-align: left;">
                            <p><strong>Judul:</strong> Radio ground everyone</p>
                            <p><strong>Pembuat:</strong> John Brooks</p>
                            <p><strong>Tanggal Dibuat:</strong> 18/03/23</p>
                            <p><strong>Jumlah Lagu:</strong> 12</p>
                            <p><strong>Total Durasi:</strong> 8 jam 20 menit</p>
                            <p><strong>Deskripsi:</strong> Choose positive whatever understand short choice girl finish.</p>
                        </div>
                    </div>                    
                    <div class="flex">
                        <a href="#" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">Shuffle Play</a>
                        <a href="#" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 ml-2 hover:bg-bluebright hover:text-black duration-200">Kembali</a>
                    </div>
                </div>
                <div class="mb-4">
                    <h4 class="text-2xl text-white font-bold mt-4 mb-4">Daftar Lagu</h4>
                    <div class="flex justify-center">
                        <div class="flex flex-row justify-center items-start w-full max-w-6xl px-10">
                            <div class="grid grid-cols-4 gap-y-4 gap-x-24 bg-gray/20 text-white shadow-inner border-white rounded-3xl py-12 px-16 items-center" style="min-width: 110%;">
                                <p class="text-bluebright font-bold text-center">Judul Lagu</p>
                                <p class="text-bluebright font-bold text-center">Oleh</p>
                                <p class="text-bluebright font-bold text-center">Durasi</p>
                                <p class="text-bluebright font-bold text-center">Action</p>
                                {% for song in songs %}
                                <div class="text-lg text-center">{{ song.judul }}</div>
                                <div class="text-lg text-center">{{ song.email_pembuat }}</div>
                                <div class="text-lg text-center">{{ song.durasi }} menit</div>
                                <div class="flex space-x-2 justify-center">
                                    <a href="#" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">Lihat</a>
                                    <a href="#" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">Play</a>
                                    <a href="#" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">Hapus</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center mt-10">
                        <a href="#" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">Tambah Lagu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}