{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Lagu</title>
{% endblock meta %}

{% block content %}
{% include "navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-20 pb-20 h-screen flex justify-center items-center">
    <div class="text-center">
        <div class="bg-gray/20 rounded-3xl shadow-inner p-10" style="max-width: 100%; max-height: 120%;">
            <div class="mb-8">
                <h2 class="text-3xl text-white font-bold mt-4 mb-10">Tambah Lagu</h2>
                <form method="post" action="{% url 'user_playlist:tambah_lagu_playlist' id_user_playlist %}">
                    {% csrf_token %}
                    <div class="flex flex-col mt-4 mb-4">
                        <select id="songDropdown" name="id_song" class="p-2 rounded-lg w-full text-sm">
                            {% for song in song_choices %}
                            <option value="{{ song.0 }}">{{ song.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="border-2 border-bluebright text-bluebright rounded-xl mt-10 py-3 px-8 hover:bg-bluebright hover:text-black duration-200">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}