{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mt-5 mb-4">
                <h3>Berhasil mengunduh Lagu dengan judul '{{ song_title }}'!</h3>
            </div>
            <div class="text-center mb-5">
                <!-- nanti url nya ganti ke daftar downloaded song -->
                <a href="{% url 'downloaded_songs:downloaded_songs' %}" class="btn btn-primary">Ke Daftar Download</a>
                <a href="{% url 'play_song:play_song' id_konten %}" class="btn btn-primary">Kembali</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}