{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Gagal Tambah Lagu ke Playlist</title>
{% endblock meta %}

{% block content %}
{% include "navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-20 pb-20 h-screen flex justify-center">
    <div class="text-center">
        <div class="bg-gray/20 rounded-3xl shadow-inner p-10" style="max-width: 100%;">
            <div class="mb-10">
                <p class="text-white">Lagu dengan judul '{{ song_title }}' sudah ditambahkan di '{{ playlist_title }}'!</p>
                <div class="flex justify-center space-x-4 mt-6">
                    <a href="{% url 'user_playlist:detail_playlist' id_user_playlist %}" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">
                        Ke Playlist
                    </a>
                    <a href="{% url 'play_song:play_song' id_konten=id_konten %}" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">
                        Kembali
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}