<nav>
    <div class="flex justify-between bg-black/50 backdrop-blur-sm text-white font-poppins items-center py-4 px-8 cursor-pointer top-0 z-50 w-full fixed border-b-[1px] border-white/20">
        <div class="flex gap-5 font-semibold text-bluebright text-xl">
            <img src="https://cdn.discordapp.com/attachments/1098280536046325872/1231037558486728704/marmut.png?ex=66245c91&is=66230b11&hm=35f53f4bd4bacb54f95dc25155ad292b490c527b96d4c7754719cd777c805459&" alt="Marmut Logo" class="h-14">
            <div class="logo-neon flex items-center justify-center">
                <span class="text-3xl font-bold" style="color: #FF00FF; text-shadow: 0 0 8px #FF00FF, 0 0 12px #FF00FF, 0 0 24px #FF1493;">Ma</span>
                <span class="text-3xl font-bold" style="color: #00FFFF; text-shadow: 0 0 8px #00FFFF, 0 0 12px #00FFFF, 0 0 24px #00BFFF;">rmut</span>
            </div>
        </div>  
        <div class="flex gap-5">
            <a href="/dashboard/" class="hover:bg-blue-700 px-3 py-2 rounded">Dashboard</a>
            <a href="/lihat_chart/" class="hover:bg-blue-700 px-3 py-2 rounded">Chart</a>
            <a href="/search_bar/" class="hover:bg-blue-700 px-3 py-2 rounded">Search Bar</a>
            <a href="/user_playlist/" class="hover:bg-blue-700 px-3 py-2 rounded">Playlist</a>
            <a href="/langganan_paket/" class="hover:bg-blue-700 px-3 py-2 rounded">Langganan Paket</a>
            
            {% if user.is_premium %}
                <a href="/downloaded_songs/" class="hover:bg-blue-700 px-3 py-2 rounded">Downloaded Songs</a>
            {% endif %}
            {% if dashboard.role.podcaster %}
                <a href="/podcast/" class="hover:bg-blue-700 px-3 py-2 rounded">Podcast</a>
            {% endif %}
            {% if dashboard.role.artist or dashboard.role.songwriter %}
                <a href="/album_song/" class="hover:bg-blue-700 px-3 py-2 rounded">Album & Songs</a>
            {% endif %}
            {% if registered_as.label %}
                <a href="/album_song/" class="hover:bg-blue-700 px-3 py-2 rounded">Album</a>
            {% endif %}
            {% if dashboard.role.artist or dashboard.role.songwriter or dashboard_registered_as.label %}
                <a href="/cek_royalti/" class="hover:bg-blue-700 px-3 py-2 rounded">Cek Royalti</a>
            {% endif %}
        </div>
    </div>
</nav>