{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Pengguna</title>
{% endblock meta %}

{% block content %}
{% include "navbar/navbar_guest.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-40 h-screen">
    <div class="flex justify-center">
        <div class="bg-gray/20 text-white shadow-2xl border-white rounded-3xl pt-8 px-24">
            <h1 class="flex justify-center text-4xl mb-10">Daftar Pengguna</h1>
            <div class="text-black">
                <form method="post">
                    {% csrf_token %}
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Email</label><br>
                            <input type="email" name="email" placeholder="contoh@gmail.com" class="rounded-xl w-64 p-1" required/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Tempat Lahir</label><br>
                            <input type="text" name="tempat_lahir" placeholder="Tempat lahir Anda" class="rounded-xl w-64 p-1" required/>
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Password</label><br>
                            <input type="password" name="password" placeholder="Masukkan password Anda" class="rounded-xl w-64 p-1" required/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Tanggal Lahir</label><br>
                            <input type="date" name="tanggal_lahir" class="rounded-xl w-64 p-1" required>
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Nama</label><br>
                            <input type="text" name="nama" placeholder="Masukkan nama Anda" class="rounded-xl w-64 p-1" required/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Kota Asal</label><br>
                            <input type="text" name="kota_asal" placeholder="Kota asal Anda" class="rounded-xl w-64 p-1" required/>
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Gender</label><br>
                            <select name="gender" class="rounded-xl w-64 p-1">
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Role</label><br>
                            <input type="checkbox" name="role" value="Podcaster">
                            <label class="text-white">Podcaster</label>
                            <input type="checkbox" name="role" value="Artist">
                            <label class="text-white">Artist</label>
                            <input type="checkbox" name="role" value="Songwriter">
                            <label class="text-white">Songwriter</label>
                        </div>
                    </div>
                    {% if messages %}
                        <div class="py-2">
                            {% for message in messages %}
                                <div class="text-center text-red-600 text-1xl mt-4">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="flex justify-center gap-5 my-10">
                        <button type="button" onclick="history.back()" class="border-2 border-graybright text-graybright rounded-xl py-2 px-6 hover:bg-graybright hover:text-black duration-200">Cancel</button>
                        <button type="submit" class="border-2 border-green text-green rounded-xl py-2 px-6 hover:bg-green hover:text-black duration-200">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
