{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="styles.css">

{% block meta %}
<title>List Album</title>
{% endblock meta %}

{% block content %}
{% include "components/navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-32 h-screen flex flex-col justify-start items-center">
    <div class="flex flex-col items-center justify-center">
        <div class="text-center text-white">
            <div class="flex justify-center items-center mb-6">
                <i class="fa fa-music text-white text-3xl neon-effect mr-2"></i>
                <h1 class="text-4xl font-bold">Your Albums</h1>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 2rem;">
        <main class="p-3 sm:p-5 flex gap-8 w-full md:w-4/5 lg:w-3/5 mx-auto sm:flex-row flex-row items-center sm:items-stretch">
            <img src="{% static 'images/marmut.png' %}" alt="{{ judul }}" class="text-white w-full max-w-[300px] aspect-[4/5] object-cover rounded-lg shadow-lg" />
            <section class="flex-1 flex flex-col">
                <h1 class="text-2xl sm:text-3xl font-semibold text-white">{{ judul }}</h1>
                <p class="mt-3 text-white">{{ jumlah_lagu }} songs • {{total_durasi}} minute(s)</p>
                <div class="my-3 flex-1 ">
                    <p class="max-w-prose text-gray">
                        {{ judul }} is an album by {{ label }} and curated by {{ label }} record label. It has {{ jumlah_lagu }} songs. And a duration of {{ total_durasi }} minute(s).
                    </p>
                </div>
                <button id="album_songs" class="mt-3 px-4 py-2 border-2 border-blue text-blue rounded-xl py-2 px-4 hover:bg-blue hover:text-black duration-200">
                    <a href="/daftar-album-song/list-album/label/1/songs">Go to Songs</a>
                </button>
                <button id="delete_album" class="mt-3 px-4 py-2 border-2 border-blue text-blue rounded-xl py-2 px-4 hover:bg-blue hover:text-black duration-200">
                    <a href="/daftar-album-song/list-album/label/1">Delete Album</a>
                </button>
            </section>
        </main>
    </div>
</div>

<style>
    @keyframes pulse-animation {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.5; }
    }
    .animate-pulse {
        animation: pulse-animation 2s infinite ease-in-out;
    }
    .neon-text {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #0fa, 0 0 8px #0fa, 0 0 10px #0fa;
    }
    .plus-button {
        bottom: 2rem; /* Adjust as needed */
        transform: translateX(-50%);
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
</style>
{% endblock %}