{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Downloaded Songs</title>
{% endblock meta %}

{% block content %}
<!-- Navbar -->
{% include "navbar/navbar_pengguna.html" %}

<!-- Content -->
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 min-h-screen">
    <div class="container mx-auto px-4 mt-16">
        <h1 class="text-3xl font-semibold my-4 text-white text-center">Downloaded Songs</h1>

        <!-- Daftar Lagu -->
        <div class="bg-gray/20 text-white shadow-inner border-white rounded-3xl py-12 px-16">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-6 py-3 text-left text-lg text-white font-semibold uppercase text-black">Judul Lagu</th>
                        <th class="px-6 py-3 text-left text-lg text-white font-semibold uppercase text-black">Oleh</th>
                        <th class="px-6 py-3 text-left text-lg text-white font-semibold uppercase text-black">Tanggal Download</th>
                        <th class="px-6 py-3 text-left text-lg text-white font-semibold uppercase text-black">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-300" id="downloadedSongsBody">
                    <!-- Data lagu diunduh akan ditampilkan di sini -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Button Kembali -->
    <div class="text-center mt-4">
        <button onclick="window.history.back();" style="background-color: #3b82f6;" class="hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Kembali</button>
    </div>

    <!-- Form untuk konfirmasi penghapusan -->
    <div id="hapusConfirmation" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center hidden">
        <div class="bg-white p-8 rounded-lg">
            <h2 class="text-xl font-semibold mb-4">Berhasil Menghapus</h2>
            <p id="hapusConfirmationText"></p>
            <div class="flex justify-end mt-6">
                <button onclick="kembali()" style="background-color: #3b82f6;" class="hover:bg-blue-600 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline">Kembali</button>
            </div>
        </div>
    </div>

    <script>
        var judulLaguToDelete;

        // Fungsi untuk menampilkan konfirmasi penghapusan
        function hapus(judul) {
            judulLaguToDelete = judul;
            document.getElementById("hapusConfirmationText").textContent = "Berhasil menghapus Lagu dengan judul '" + judul + "' dari daftar unduhan!";
            document.getElementById("hapusConfirmation").classList.remove("hidden");
        }

        // Fungsi untuk kembali ke halaman sebelumnya setelah penghapusan
        function kembali() {
            window.location.href = document.referrer;
        }

        // Fetch data lagu yang diunduh saat halaman dimuat
        document.addEventListener("DOMContentLoaded", function(event) {
            fetch('{% url "downloaded_songs:get_downloaded_songs" %}')
            .then(response => response.json())
            .then(data => {
                const downloadedSongsBody = document.getElementById('downloadedSongsBody');
                const playSongUrlTemplate = "{% url 'play_song:play_song' '' %}";
                const deleteSongUrlTemplate = "{% url 'downloaded_songs:delete_downloaded_song' '' %}";

                if (data.downloaded_songs) {
                    data.downloaded_songs.forEach(song => {
                        if (song.id) {  // Pastikan ID tidak kosong
                            const playSongUrl = playSongUrlTemplate.replace(/\/$/, '') + '/' + song.id + '/';
                            const deleteSongUrl = deleteSongUrlTemplate.replace(/\/$/, '') + '/' + song.id + '/';
                            const row = `
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">${song.judul}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${song.artist}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">${song.timestamp}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <a href="${playSongUrl}" style="background-color: #3b82f6;" class="hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Lihat</a>
                                        <a href="${deleteSongUrl}" style="background-color: #ef4444;" class="hover:bg-red-600 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline">Hapus</a>
                                    </td>
                                </tr>
                            `;
                            downloadedSongsBody.insertAdjacentHTML('beforeend', row);
                        }
                    });
                }
            })
            .catch(error => console.error('Error fetching downloaded songs:', error));
        });
    </script>
</div>
{% endblock content %}