{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Downloaded Songs</title>
{% endblock meta %}

{% block content %}
<!-- Navbar -->
{% include "navbar/navbar_pengguna.html" %}

<!-- Content -->
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 min-h-screen"> <!-- Garis di akhir navbar -->
    <div class="container mx-auto px-4 mt-16"> <!-- Tambahkan margin top yang lebih besar di sini -->
        <h1 class="text-3xl font-semibold my-4 text-white text-center">Downloaded Songs</h1>

        <!-- Daftar Lagu -->
        <div class="bg-white bg-opacity-90 rounded-lg shadow-lg p-6">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-black">Judul Lagu</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-black">Oleh</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-black">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-300" id="downloadedSongsBody">
                    <!-- Data lagu diunduh akan ditampilkan di sini -->
                    {% for song in downloaded_songs %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-black">{{ song.1 }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-black">{{ song.2 }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="{% url 'play_song:play_song' id_konten=song.0 %}" style="background-color: #3b82f6;" class="hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Lihat</a>
                                <form id="deleteForm-{{ song.0 }}" action="{% url 'downloaded_songs:delete_song_view' song.0 %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="background-color: #ef4444;" class="delete-button hover:bg-red-600 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline" data-song-title="{{ song.1 }}">Hapus</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Event listener untuk tombol hapus lagu
    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Mencegah aksi default form (submit)

            // Ambil judul lagu dari data attribute
            const songTitle = button.getAttribute('data-song-title');

            // Kirim permintaan fetch untuk menghapus lagu
            fetch(button.parentElement.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Hapus baris lagu dari tampilan
                    button.closest('tr').remove();
                    // Tampilkan pesan sukses
                    displaySuccessMessage(songTitle);
                } else {
                    alert('Gagal menghapus lagu.'); // Tampilkan pesan error jika gagal
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });

    // Fungsi untuk menampilkan pesan sukses setelah menghapus lagu
    function displaySuccessMessage(songTitle) {
        // Buat elemen untuk pesan sukses
        const successMessage = document.createElement('div');
        successMessage.innerHTML = `
            <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg p-6 z-10">
                <p class="text-center text-lg font-semibold text-black">Berhasil menghapus Lagu dengan judul '${songTitle}' dari daftar unduhan!</p>
                <button onclick="window.history.back();" class="block mx-auto mt-4 border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200 text-sm md:text-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Kembali</button>
            </div>
        `;

        // Tambahkan pesan sukses ke dalam body
        document.body.appendChild(successMessage);
    }
</script>
{% endblock content %}
