<style>
    .text-gray-900 {
        color: #4B5563; /* Ubah warna teks menjadi warna abu-abu yang lebih terang */
    }
</style>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pembayaran Paket</title>
{% endblock meta %}

{% block content %}
<!-- Navbar -->
{% include "navbar/navbar_pengguna.html" %}
<hr class="border-b border-gray-400 mb-4 mt-20">

<div class="container mx-auto px-4 mt-16 text-center">
    <h1 class="text-3xl font-semibold my-4 text-white">Pembayaran Paket</h1>
    <div class="my-8">
        <h2 class="text-lg font-semibold text-white mb-4">Informasi Paket yang Ingin Dibeli:</h2>
        <table class="w-full max-w-md mx-auto bg-white shadow-md rounded-lg overflow-hidden">
            <tr>
                <td class="px-4 py-2 font-semibold text-gray-900">Jenis</td> <!-- Hapus class border dan tambahkan padding, tambahkan class text-gray-900 -->
                <td class="px-4 py-2 text-gray-900" id="jenis"></td> <!-- Hapus class border dan tambahkan padding, tambahkan class text-gray-900 -->
            </tr>
            <tr>
                <td class="px-4 py-2 font-semibold text-gray-900">Harga</td> <!-- Hapus class border dan tambahkan padding, tambahkan class text-gray-900 -->
                <td class="px-4 py-2 text-gray-900" id="harga"></td> <!-- Hapus class border dan tambahkan padding, tambahkan class text-gray-900 -->
            </tr>
        </table>        
    </div>
    <div class="my-8">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="jenis" id="input_jenis">
            <input type="hidden" name="harga" id="input_harga">
            <h2 class="text-lg font-semibold text-white mb-4">Metode Pembayaran:</h2>
            <select name="metode_pembayaran" class="w-full max-w-md mx-auto border border-gray-300 rounded-md py-2 px-4 text-black font-bold bg-gray-100 text-gray-900 focus:outline-none focus:border-indigo-500">
                <option value="transfer_bank">Transfer Bank</option>
                <option value="kartu_kredit">Kartu Kredit</option>
                <option value="e_wallet">E-Wallet</option>
            </select>
            <button type="submit" class="text-white px-8 py-3 rounded-md inline-block mt-4" style="background-color: #3B82F6;">Submit</button>
        </form>
    </div>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const jenis = urlParams.get('jenis');
    const harga = urlParams.get('harga');

    document.getElementById('jenis').innerText = jenis;
    document.getElementById('harga').innerText = harga;

    document.getElementById('input_jenis').value = jenis;
    document.getElementById('input_harga').value = harga;
</script>

{% endblock content %}