{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Riwayat Transaksi Paket</title>
{% endblock meta %}

{% block content %}
<!-- Navbar -->
{% include "navbar/navbar_pengguna.html" %}
<hr class="border-b border-gray-400 mb-4 mt-20"> <!-- Garis di akhir navbar -->

<div class="container mx-auto px-4 mt-16"> <!-- Container untuk konten -->
    <h1 class="text-3xl font-bold my-4 text-white text-center">Riwayat Transaksi Paket</h1> <!-- Judul halaman -->
    <div class="overflow-x-auto"> <!-- Membuat konten bisa di-scroll horizontal -->
        <table class="w-full table-auto border-collapse border border-gray-400 bg-white shadow-md rounded-lg"> <!-- Tabel dengan shadow dan border-radius -->
            <thead class="bg-blue-500 text-white"> <!-- Warna latar belakang header -->
                <tr>
                    <th class="px-4 py-2 text-center text-black">Jenis</th> <!-- Teks hitam -->
                    <th class="px-4 py-2 text-center text-black">Tanggal Dimulai</th>
                    <th class="px-4 py-2 text-center text-black">Tanggal Berakhir</th>
                    <th class="px-4 py-2 text-center text-black">Metode Pembayaran</th>
                    <th class="px-4 py-2 text-center text-black">Nominal</th>
                </tr>
            </thead>
            <tbody>
                {% for transaksi in riwayat_transaksi %}
                <tr>
                    <td class="border px-4 py-2 text-center font-semibold">{{ transaksi.jenis }}</td> <!-- Teks center dan padding -->
                    <td class="border px-4 py-2 text-center">{{ transaksi.tanggal_dimulai }}</td>
                    <td class="border px-4 py-2 text-center">{{ transaksi.tanggal_berakhir }}</td>
                    <td class="border px-4 py-2 text-center">{{ transaksi.metode_pembayaran }}</td>
                    <td class="border px-4 py-2 text-center">{{ transaksi.nominal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4"> <!-- Membuat tombol kembali menjadi tengah -->
        <a href="{% url 'langganan_paket' %}" class="bg-blue-500 text-white px-6 py-3 rounded inline-block" style="background-color: #3B82F6;">Kembali</a> <!-- Tombol kembali dengan padding dan warna -->
    </div>
</div>

{% endblock content %}
