{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Riwayat Transaksi Paket</title>
{% endblock meta %}

{% block content %}
{% include "navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 min-h-screen">

<div class="container mx-auto px-4 mt-4">
    <h1 class="text-3xl font-bold my-4 text-white text-center">Riwayat Transaksi Paket</h1>
    <div class="overflow-x-auto">
        <table class="w-full table-auto border-collapse border border-gray-400 bg-white shadow-md rounded-lg">
            <thead class="bg-blue-500 text-black">
                <tr>
                    <th class="px-4 py-2 text-center text-black">Jenis</th>
                    <th class="px-4 py-2 text-center text-black">Tanggal Dimulai</th>
                    <th class="px-4 py-2 text-center text-black">Tanggal Berakhir</th>
                    <th class="px-4 py-2 text-center text-black">Metode Pembayaran</th>
                    <th class="px-4 py-2 text-center text-black">Nominal</th>
                </tr>
            </thead>
            <tbody>
                {% for transaksi in riwayat_transaksi %}
                <tr>
                    <td class="border px-4 py-2 text-center font-semibold text-black">{{ transaksi.1 }}</td> <!-- Teks center, bold, dan padding, serta warna teks hitam -->
                    <td class="border px-4 py-2 text-center text-black">{{ transaksi.2 }}</td> <!-- Teks center, dan padding, serta warna teks hitam -->
                    <td class="border px-4 py-2 text-center text-black">{{ transaksi.3 }}</td> <!-- Teks center, dan padding, serta warna teks hitam -->
                    <td class="border px-4 py-2 text-center text-black">{{ transaksi.4 }}</td> <!-- Teks center, dan padding, serta warna teks hitam -->
                    <td class="border px-4 py-2 text-center text-black">{{ transaksi.5 }}</td> <!-- Teks center, dan padding, serta warna teks hitam -->                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'langganan_paket:langganan_paket' %}" class="bg-blue-500 text-white px-6 py-3 rounded inline-block" style="background-color: #3B82F6;">Kembali</a> <!-- Tombol kembali dengan padding dan warna -->
    </div>
</div>

{% endblock content %}
