{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>View Charts</title>
{% endblock meta %}

{% block content %}
{% include "navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 min-h-screen">
    <div class="container mx-auto p-8 mt-16">
        <div class="container mx-auto p-8 flex justify-center items-center flex-col"> 
            <h1 class="text-4xl font-bold text-white mb-4 text-center">Charts</h1>
        </div>
        <div class="flex justify-center">
            <div class="bg-gray/20 rounded-3xl p-8 shadow-lg w-full max-w-3xl">
                <table class="table-auto w-full border-collapse border border-graybright">
                    <thead>
                        <tr>
                            <th class="border border-graybright px-4 py-2 text-center text-white text-2xl">Chart Title</th>
                            <th class="border border-graybright px-4 py-2 text-center text-white text-2xl">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chart in charts %}
                        <tr>
                            <td class="border border-graybright px-4 py-2 text-white text-xl">{{ chart }}</td>
                            <td class="border border-graybright px-4 py-2 text-center">
                                <button class="border-2 border-blue bg-blue text-white rounded-xl py-2 px-4 hover:bg-darkblue duration-200">
                                    <a href="{% url 'lihat_chart:isi_chart' %}?playlist_type={{ chart }}" class="text-white">See Details</a>
                                </button>                        
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex justify-center mt-8">
            <button class="border-2 border-blue text-blue rounded-xl py-2 px-4 hover:bg-blue hover:text-black duration-200 text-2xl">
                <a href="{% url 'dashboard:dashboard_pengguna' %}">Back</a>
            </button>
        </div>
    </div>
</div>
{% endblock content %}
