{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>View Playlist</title>
{% endblock meta %}

{% block content %}
{% include "components/navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 min-h-screen">
    <div class="container mx-auto p-8 mt-16">
        <div class="container mx-auto p-8 flex justify-center items-center flex-col"> 
            <h1 class="text-3xl font-bold text-white mb-4 text-center">Playlist</h1>
        </div>
        {% for playlist_title, playlist_songs in playlists.items %}
        <div class="mb-8">
            <h2 class="text-2xl font-bold text-white">{{ playlist_title }}</h2>
            <div class="overflow-x-auto">
                <table class="w-full border-collapse border border-graybright">
                    <thead>
                        <tr>
                            <th class="border border-graybright px-4 py-2 text-left text-white">Song Title</th>
                            <th class="border border-graybright px-4 py-2 text-left text-white">Artist</th>
                            <th class="border border-graybright px-4 py-2 text-left text-white">Release Date</th>
                            <th class="border border-graybright px-4 py-2 text-left text-white">Total Plays</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in playlist_songs %}
                        <tr>
                            <td class="border border-graybright px-4 py-2 text-white">{{ song.title_song }}</td>
                            <td class="border border-graybright px-4 py-2 text-white">{{ song.artist }}</td>
                            <td class="border border-graybright px-4 py-2 text-white">{{ song.release }}</td>
                            <td class="border border-graybright px-4 py-2 text-white">{{ song.total_plays }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        <div class="flex justify-center mt-8">
            <a href="{% url 'lihat_chart:show_chart' %}" class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded text-lg">Back</a>
        </div>
    </div>
</div>
{% endblock content %}
