{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Podcast</title>
{% endblock meta %}

{% block content %}
<!-- Add podcast -->
<div class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex justify-center items-center"
    id="AddPodcastModal" style="display: none;">
    <div class="bg-white rounded-lg shadow-lg p-4 w-full sm:w-96 max-w-4xl">
        <div class="flex justify-center mb-4">
            <h2 class="text-3xl font-bold">Add Podcast</h2>
        </div>
        <form id="addPodcastForm" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="title" class="block text-sm font-medium text-gray-700">Title:</label>
                <input type="text" id="podcastTitle" name="podcastTitle"
                    class="mt-1 block w-full px-3 py-2 border border-black rounded-md shadow-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div class="relative">
                <label for="genre" class="block text-sm font-medium text-gray-700">Genre:</label>
                <div class="mt-1 w-full">
                    <div class="relative">
                        <button type="button" id="genreDropdownBtn" name="genreDropdownBtn" class="w-full px-3 py-2 text-left border border-black rounded-md shadow-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" onclick="toggleDropdown()">
                            Select Genre
                        </button>
                        <ul id="genreDropdown" class="absolute hidden z-10 w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg">
                            {% for genre in genres %}
                                <li onclick="selectGenre('{{ genre }}')">{{ genre }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex justify-end mt-4">
            <button type="button"
                class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-blue border-blue rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                onclick="addPodcast()">
                Add Podcast
            </button>
            <button type="button"
                class="inline-flex justify-center px-4 py-2 ml-4 text-sm font-medium text-white bg-gray rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                onclick="toggleModal()">Cancel</button>
        </div>
    </div>
</div>

<!-- Add episode -->
<div class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex justify-center items-center"
    id="AddEpisodeModal" style="display: none;">
    <div class="bg-white rounded-lg shadow-lg p-4 w-full sm:w-96 max-w-4xl">
        <div class="flex justify-center mb-4">
            <h2 class="text-3xl font-bold" id="modalEpisodeTitle">Add Episode to Podcast</h2>
        </div>
        <form id="addEpisodeForm" class="space-y-4">
            <div>
                <label for="title" class="block text-sm font-medium text-gray-700">Title:</label>
                <input type="text" id="episodeTitle" name="episodeTitle"
                    class="mt-1 block w-full px-3 py-2 border border-black rounded-md shadow-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
                <input type="text" id="episodeDescription" name="episodeDescription"
                    class="mt-1 block w-full px-3 py-2 border border-black rounded-md shadow-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                <label for="duration" class="block text-sm font-medium text-gray-700">Duration (hours):</label>
                <input type="number" id="episodeDuration" name="episodeDuration"
                    class="mt-1 block w-full px-3 py-2 border border-black rounded-md shadow-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                <input type="hidden" id="podcastEpisode" name="podcastEpisode">
            </div>
        </form>
        <div class="flex justify-end mt-4">
            <button type="button"
                class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-blue border-blue rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                onclick="addEpisode()">
                Add Episode
            </button>
            <button type="button"
                class="inline-flex justify-center px-4 py-2 ml-4 text-sm font-medium text-white bg-gray rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                onclick="toggleModalEpisode()">Cancel</button>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex justify-center items-center" id="DeletePodcastModal" style="display: none;">
    <div class="bg-white rounded-lg shadow-lg p-4 w-full sm:w-96 max-w-4xl">
        <div class="flex justify-center mb-4">
            <h2 class="text-3xl font-bold">Confirm Delete</h2>
        </div>
        <div class="text-center" id="deleteModalTitle">
            <p>Are you sure you want to delete this podcast?</p>
        </div>
        <form id="deleteForm">
            {% csrf_token %}
            <input type="hidden" id="deletePodcast" name="deletePodcast">
        </form>
        <div class="flex justify-end mt-4">
            <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-red border-red rounded-md shadow-md hover:bg-red-600" id="confirmDelete" onclick="removePodcast()">
                Delete
            </button>
            <button type="button"
                class="inline-flex justify-center px-4 py-2 ml-4 text-sm font-medium text-white bg-gray rounded-md hover:bg-gray-50" onclick="showDeleteModal()">
                Cancel
            </button>
        </div>
    </div>
</div>

<!-- Alert Modal -->
<div class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex justify-center items-center" id="showAlertModal" style="display: none;">
    <div class="bg-white rounded-lg shadow-lg p-4 w-full sm:w-96 max-w-4xl">
        <div class="flex justify-center mb-4">
            <h2 class="text-3xl font-bold" id="AlertModalHeader">placholder</h2>
        </div>
        <div class="text-center" id="AlertModalText">
            <p>placeholder</p>
        </div>
        <div class="flex justify-end mt-4">
            <button type="button"
                class="inline-flex justify-center px-4 py-2 ml-4 text-sm font-medium text-white bg-gray rounded-md hover:bg-gray-50" onclick="window.location.reload()">
                OK
            </button>
        </div>
    </div>
</div>

{% include "navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 min-h-screen">
    <div class="container mx-auto p-8 mt-14">
        <div class="container mx-auto p-8 flex justify-center items-center flex-col">
            <h1 class="text-4xl font-bold text-white mb-4 text-center">Podcast</h1>
        </div>

        <div class="flex justify-center mb-8">
            <button type="button"
                class="border-2 border-blue bg-blue text-white rounded-xl py-2 px-4 hover:bg-gradient-to-bl hover:text-gray-100"
                onclick="toggleModal()">
                Add Podcast
            </button>
        </div>

        {% if podcasts %}
        <div class="flex justify-center">
            <div class="bg-gray/20 rounded-3xl p-8 shadow-lg w-full max-w-5xl">
                <table class="w-full table-auto border-collapse border border-graybright">
                    <thead>
                        <tr>
                            <th class="border border-graybright px-4 py-2 text-center text-white text-xl">Title</th>
                            <th class="border border-graybright px-4 py-2 text-center text-white text-xl">Duration</th>
                            <th class="border border-graybright px-4 py-2 text-center text-white text-xl">Episodes</th>
                            <th colspan="3" class="border border-graybright px-4 py-2 text-center text-white text-xl">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for podcast in podcasts %}
                        <tr>
                            <td class="border border-graybright px-4 py-2 text-white text-center">{{ podcast.title }}</td>
                            <td class="border border-graybright px-4 py-2 text-white text-center">{{ podcast.total_duration }}</td>
                            <td class="border border-graybright px-4 py-2 text-white text-center">{{ podcast.episode_count }}</td>
                            <td class="border border-graybright px-4 py-2 text-center">
                                <button class="border-2 border-blue bg-blue text-white rounded-xl py-2 px-4 hover:bg-darkblue duration-200">
                                    <a href="{% url 'podcast:daftar_episode' %}?podcast={{ podcast.title }}" class="text-white">See Episodes</a>
                                </button>                        
                            </td>
                            <td class="border border-graybright px-4 py-2 text-center">
                                <button type="button" class="border-2 border-blue bg-blue text-white rounded-xl py-2 px-4 hover:bg-darkblue duration-200" onclick="toggleModalEpisode('{{ podcast.title }}', '{{ podcast.id }}')">
                                    Add Episode
                                </button>                        
                            </td>
                            <td class="border border-graybright px-4 py-2 text-center">
                                <button class="border-2 border-blue bg-blue text-white rounded-xl py-2 px-4 hover:bg-darkblue duration-200" onclick="showDeleteModal('{{ podcast.title }}', '{{ podcast.id }}')">
                                    Delete
                                </button>                        
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="container mx-auto p-8 flex justify-center items-center flex-col">
            <h2 class="text-2xl font-bold text-white mb-4 text-center">You have not created any podcasts yet!</h2>
        </div>
        {% endif %}
    </div>
    <div class="flex justify-center mt-2">
        <button onclick="window.history.back()"
            class="border-2 border-blue text-blue rounded-xl py-2 px-4 hover:bg-blue hover:text-white duration-200 text-2xl">
            Back
        </button>
    </div>
</div>

<script>
    async function toggleModal() {
        const modal = document.getElementById('AddPodcastModal');
        if (modal.style.display === 'none') {
            resetGenre();
            document.getElementById('addPodcastForm').reset();
        }
        modal.style.display = modal.style.display === 'none' ? 'flex' : 'none';
    }

    async function selectGenre(genre) {
        const dropdownBtn = document.getElementById('genreDropdownBtn');
        dropdownBtn.innerText = genre;
        toggleDropdown();

        const dropdownItems = document.querySelectorAll('#genreDropdown li');
        dropdownItems.forEach(item => {
            item.style.backgroundColor = 'transparent';
        });

        const selectedGenre = document.querySelector(`#genreDropdown li:nth-of-type(${getGenreIndex(genre)})`);
        selectedGenre.style.backgroundColor = '#d1d5db';
    }

    async function getGenreIndex(genre) {
        const dropdownItems = document.querySelectorAll('#genreDropdown li');
        for (let i = 0; i < dropdownItems.length; i++) {
            if (dropdownItems[i].innerText === genre) {
                return i + 1;
            }
        }
        return -1;
    }

    async function resetGenre() {
        const dropdownBtn = document.getElementById('genreDropdownBtn');
        dropdownBtn.innerText = 'Select Genre';
    }

    async function toggleDropdown() {
        const dropdown = document.getElementById('genreDropdown');
        dropdown.classList.toggle('hidden');
    }

    async function toggleModalEpisode(podcastTitle, podcastID) {
        $('#podcastEpisode').val(podcastID);
        const modal = document.getElementById('AddEpisodeModal');
        const modalTitle = document.getElementById('modalEpisodeTitle');
        if (modal.style.display === 'none') {
            document.getElementById('addEpisodeForm').reset();
        }
        modalTitle.innerText = `Add Episode to ${podcastTitle}`;
        modal.style.display = modal.style.display === 'none' ? 'flex' : 'none';
    }

    async function showDeleteModal(podcastTitle, podcastID) {
        $('#deletePodcast').val(podcastID);
        const modal = document.getElementById('DeletePodcastModal');
        const modalTitle = document.getElementById('deleteModalTitle');
        if (modal.style.display === 'none') {
            document.getElementById('deleteForm').reset()
        }
        modalTitle.innerText = `Are you sure you want to delete "${ podcastTitle }"?`;
        modal.style.display = modal.style.display === 'none' ? 'flex' : 'none';
    }

    async function toggleAlertModal(message, header){
        const modal = document.getElementById('showAlertModal');
        const modalTitle = document.getElementById('AlertModalText');
        const modalHeader = document.getElementById('AlertModalHeader');
        modalTitle.innerText = `${ message }`
        modalHeader.innerText = `${ header }`
        modal.style.display = modal.style.display === 'none' ? 'flex' : 'none';
    }

    async function addPodcast() {
        var podcastTitle = $('#podcastTitle').val();
        var podcastGenre = $('#genreDropdownBtn').text();
        
        $.ajax({
            type: "POST",
            url: "{% url 'podcast:add_podcast' %}",
            csrfmiddlewaretoken: "{{ csrf_token }}",
            data: {
                title: podcastTitle,
                genre: podcastGenre,
            },
            success: function(data) {
                toggleAlertModal("Your new podcast has been successfully added!", "Sucess");
            },
            error: function(error) {
                toggleAlertModal("Error adding podcast.", "Fail");
            }
        });
        toggleModal();
    }

    async function removePodcast() {
       var podcastID = $('#deletePodcast').val();

       $.ajax({
            type: "POST",
            url: "{% url 'podcast:remove_podcast' %}",
            csrfmiddlewaretoken: "{{ csrf_token }}",
            data: {
                id: podcastID,
            },
            success: function(data) {
                toggleAlertModal("Your podcast has been successfully deleted!", "Sucess");
            },
            error: function(error) {
                toggleAlertModal("Error deleting podcast.", "Fail");
            }
        });
        showDeleteModal();
    }

    async function addEpisode() {
        var episodeTitle = $('#episodeTitle').val();
        var episodeDescription = $('#episodeDescription').val();
        var episodeDuration = $('#episodeDuration').val();
        var podcastID = $('#podcastEpisode').val();

        $.ajax({
            type: "POST",
            url: "{% url 'podcast:add_episode' %}",
            csrfmiddlewaretoken: "{{ csrf_token }}",
            data: {
                ep_title: episodeTitle,
                ep_description: episodeDescription,
                ep_duration: episodeDuration,
                pod_id: podcastID,
            },
            success: function(data) {
                toggleAlertModal("Your new episode has been successfully added!", "Sucess");
            },
            error: function(error) {
                toggleAlertModal("Error deleting episode.", "Fail");
            }
        });
        toggleModalEpisode();
    }
</script>
{% endblock content %}