{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard Label</title>
{% endblock meta %}

{% block content %}
{% include "components/navbar/navbar_pengguna.html" %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 h-screen">
    <div class="flex gap-10 justify-center">
        <h1 class="flex justify-center shadow-2xl text-4xl text-white mb-10">Dashboard Label</h1>
    </div>
    <div class="flex gap-10 justify-center">
        <div class="grid grid-cols-2 gap-y-6 gap-x-24 bg-gray/20 text-white shadow-inner border-white rounded-3xl py-12 px-16">
            <div>
                <p class="text-sm opacity-50">Nama</p>
                <p>{{ nama }}</p>
            </div>
            <div>
                <p class="text-sm opacity-50">Email</p>
                <p>{{ email }}</p>
            </div>
            <div>
                <p class="text-sm opacity-50">Kontak</p>
                <p>{{ kontak }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}